@model IEnumerable<todo_domain_entities.TaskList>

<div class="list-group list-group-flush h-75 overflow-auto">

    @foreach (var taskList in Model)
    {
        <a class="list-group-item list-group-item-action bg-light" href="@Url.Action("Index", "Todo", new {id = taskList.Id})">@taskList.Name</a>
    }

</div>