@model todo_aspnetmvc_ui.Models.Todo.CreateTaskViewModel
@{
    Layout = "_TodoLayout";
}

<div class="row">
    <div class="mx-5 col col-lg-4">
        <h1 class="mt-4">Add a new task</h1>
        <form asp-action="CreateTask" method="post">
            <div class="form-group">
                <input asp-for="TaskListId" value="@ViewBag.ListId" type="hidden" required/>
                <span asp-validation-for="TaskListId" class="field-validation-error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" required class="form-control form-control-sm"/>
                <span asp-validation-for="Name" class="field-validation-error"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="field-validation-error"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate"></label>
                <input asp-for="DueDate" type="date" class="form-control form-control-sm" min="@DateTime.Today.ToString("yyyy-MM-dd")"/>
                <span asp-validation-for="DueDate" class="field-validation-error"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
</div>