@using TaskStatus = todo_domain_entities.TaskStatus
@using System.Diagnostics
@model TaskList
@{
    ViewData["Title"] = "Tasks";
    Layout = "_TodoLayout";
}



@if (Model == null)
{
    <div class="mx-5">
        <h1 class="mt-4">It's lonely here</h1>
        <p>You don't have any lists.</p>
        <p>
            Create new using the sidebar.
        </p>
    </div>
}
else
{
@section DropdownActions
{
    <a class="dropdown-item" href="@Url.Action("EditList", new {id = @Model.Id})">Edit list</a>
    <button type="button" class="dropdown-item text-danger" data-toggle="modal" data-target="#deleteListModal">
        Delete list
    </button>
}
    <!-- Content wrapper -->
    <div class="mx-5">
        <h1 class="mt-4 overflow-hidden d-inline text-nowrap overflow-hidden">@Model.Name</h1>
        <div class="my-5">
            @foreach (var task in Model.Tasks)
            {
                <div class="p-2">
                    @await Html.PartialAsync("_Task", task)
                    <hr class="my-2"/>
                </div>
            }
            <a type="button" class="btn btn-primary my-3" href="@Url.Action("CreateTask", new {listId = Model.Id})">
                <i class="fas fa-add"></i> Add a task
            </a>
        </div>
    </div>

    <div class="modal fade" id="deleteListModal" tabindex="-1" role="dialog" aria-labelledby="deleteListModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete list</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete the list? All todo entries in this list will be deleted too.</p>
                </div>
                <div class="modal-footer">
                    <form asp-action="DeleteList" asp-controller="Todo" asp-route-id="@Model.Id" method="post">
                        <button type="submit" class="btn btn-primary">Delete</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
}