@model TaskEntry

<p>
    <span class="text-dark">@Model.Name</span>
    <span class="ml-1">
        <i class="fas fa-clock"></i> @Model.Status.GetDisplayName()
    </span>
    @if (Model.DueDate.HasValue)
    {
        <span><i class="fas fa-calendar-alt"></i> due @Model.DueDate.Value.ToString("dd/MM/yyyy, ddd")</span>
    }
    @* @if (!string.IsNullOrEmpty(Model.Description)) *@
    @* { *@
    <button class="btn btn-outline-dark ml-2" type="button" data-toggle="collapse" data-target=@($"#collapseDescription{Model.Id}") aria-expanded="false">
        Details
    </button>
    @* } *@
    <a class="ml-2" href="@Url.Action("EditTask", "Todo", new {id = Model.Id})">Edit</a>
</p>

<div class="collapse" id=@($"collapseDescription{Model.Id}")>
    <div class="card card-body">
        <div>
            <span><i class="fas fa-calendar-alt"></i> created @Model.CreatedAt.ToString("dd/MM/yyyy, ddd")</span>
        </div>
        @if (string.IsNullOrEmpty(Model.Description))
        {
            <p>No description for the task was provided.</p>
        }
        else
        {
            <p>@Model.Description</p>
        }
    </div>
</div>