﻿@using Microsoft.CodeAnalysis
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@addTagHelper *, todo_aspnetmvc_ui

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - TodoList</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/app.css"/>
    <link rel="stylesheet" href="~/lib/font-awesome/dist/css/all.min.css"/>
    @* <link rel="stylesheet" href="~/lib/jquery-ui/dist/themes/blitzer/jquery-ui.min.css"/> *@
</head>
<body>
<div class="d-flex vh-100" id="wrapper">
    <!-- Sidebar-->
    <div class="bg-light border-right position-relative mh-100" id="sidebar-wrapper">
        <div class="sidebar-heading">
            <div class="dropdown">
                <a class="dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    @((await UserManager.GetUserAsync(User)).Name)
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    @* <a class="dropdown-item" asp-action="Logout" asp-controller="Account">Log out</a> *@
                    <form id="logout" action="@Url.Action("Logout", "Account")" method="post">
                        <a class="dropdown-item" href="javascript: document.getElementById('logout').submit()">
                            Logout
                        </a>
                    </form>
                </div>
            </div>
        </div>
        @* <vc:todo-lists> </vc:todo-lists> *@
        @await Component.InvokeAsync("TodoLists")
        <form asp-action="CreateList" method="post" class="position-absolute fixed-bottom">
            <button class="list-group-item list-group-item-action bg-light" href="#">Create a new list</button>
        </form>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            @if (IsSectionDefined("DropdownActions"))
            {
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        @* <li class="nav-item active"> *@
                        @* <a class="nav-link" href="#!"> *@
                        @* Home *@
                        @* <span class="sr-only">(current)</span> *@
                        @* </a> *@
                        @* </li> *@
                        @* <li class="nav-item"> *@
                        @* <a class="nav-link" href="#!">Link</a> *@
                        @* </li> *@
                        <li class="nav-item dropdown">
                            <a class="nav-link" id="navbarDropdown" href="#!" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bars"></i>
                                <span class="sr-only">Actions</span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                                @await RenderSectionAsync("DropdownActions", false)
                            </div>
                        </li>
                    </ul>
                </div>
            }
        </nav>
        <!-- Page content-->
        <div class="container-fluid">
            <main role="main" class="pb-3 pt-3">
                @RenderBody()
            </main>
        </div>
    </div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-ui/dist/jquery-ui.min.js"></script>
<script src="~/js/app.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>