@model todo_aspnetmvc_ui.Models.Account.LoginViewModel

<fieldset class="account">
    <h1>Login</h1>

    <br/>

    <form asp-action="Login">
        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input type="email" asp-for="EmailAddress" class="form-control"/>
            <span asp-validation-for="EmailAddress" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="RememberMe" class="form-check-label"></label>
            <input type="checkbox" asp-for="RememberMe" class="form-check-input ml-2"/>
            <span asp-validation-for="RememberMe" class="field-validation-error"></span>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Login</button>
        <span class="ml-3">Don't have an account yet?</span> <a asp-controller="Account" asp-action="Register">Register.</a>
    </form>
</fieldset>