@model todo_aspnetmvc_ui.Models.Account.RegisterViewModel

<fieldset class="account">
    <h1>New User Registration</h1>

    <br/>

    <form asp-action="Register">
        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control"/>
            <span asp-validation-for="Name" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input type="email" asp-for="EmailAddress" class="form-control"/>
            <span asp-validation-for="EmailAddress" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="field-validation-error"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" class="form-control"/>
            <span asp-validation-for="ConfirmPassword" class="field-validation-error"></span>
        </div>
        @Html.ValidationSummary(true)
        <br/>
        <button type="submit" class="btn btn-primary">Create new user</button>
    </form>
</fieldset>