@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron">
  <h1 class="display-4">To Do Application</h1>
  <p class="lead">Focus on your tasks with a simple to do application.</p>
  <hr class="my-4">
  @* <p>It uses utility classes for typography and spacing to space content out within the larger container.</p> *@
  <p class="lead">
    <a class="btn btn-primary btn-lg" asp-controller="Todo" asp-action="Index" role="button">Open web app</a>
  </p>
</div>